<!--
<script>
   jq223 = jQuery.noConflict(false);
</script>
<script src="assets/javascript/moment.min.js"></script>
<script src="assets/javascript/jquery.min.js"></script>
<script src="assets/javascript/fullcalendar.js"></script>-->

<div id='fullcalendar'>

		<div id='calendar'></div>

</div>