<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://blackboard.usc.edu/webapps/bb-auth-provider-shibboleth-bb_bb60/execute/shibbolethLogin?authProviderId=_103_1" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/chalkboard.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Blackboard </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://shibboleth-usc-csm.symplicity.com/sso/" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/wallpost.png" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">connectSC </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://my.usc.edu/service/financial-aid/" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/calculator.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Finance</h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="http://mail.google.com/a/usc.edu" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/gmail.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Gmail </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://my.usc.edu/service/library/" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/libraries.png" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Libraries</h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://my.usc.edu/portal/oasis/oasisbridge.php" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/award.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">OASIS </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="http://ois.usc.edu/" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/earth.png" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
					<h4 class="cardinal bold">OIS</h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://my.usc.edu/portal/oasis/webregbridge.php" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/road-signs.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Registration </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://my.usc.edu/portal/epay/bridgecn.php" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/money.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">USC e-pay </h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="http://www.usc.edu/bus-affairs/admin_serv/uscard_serv/" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/usc-card.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">USCard</h4>
			</div>
		</a>
	</div>
</div>

<div class="quicklinks-holder col-xs-6 col-sm-4 col-md-3">
	<div class="quicklinks-box">
		<a href="https://wd5.myworkday.com/usc/login.flex" target="_new">
			<div class="col-xs-2 col-md-2">
				<img src="/assets/images/workspace.svg" class="box-icon">
			</div>
			<div class="col-xs-10 col-md-10 text">
				<h4 class="cardinal bold">Workday</h4>
			</div>
		</a>
	</div>
</div>