<div class="row">
	<div class="col-xs-12 col-md-8">
		{{quick-links}}
	</div>

	<div class="col-xs-12 col-md-4">
		<div class="col-xs-11 well">
			<img src="/assets/images/balloons.png" class= "balloons-styling">
			<div class="col-md-1 col-xs-1"></div>
			<div class="col-md-5 col-xs-3">
				<br><br>
				<img class="birthday-image" src="/assets/images/yash.jpg">
			</div>
			<div class="col-md-5 col-xs-8 birthday-titles">
				<h4 class="bold">Happy Birthday,</h4>
				<h4 class="cardinal italics">Yash Bharganwar!</h4>
			</div>
			<div class="col-md-1 col-xs-1"></div>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>